<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="server=DESKTOP-SV6S892;trusted_connection=Yes"/>
		<add name="table" connectionString="english.dbo.words"/>
		<add name="column" connectionString="words"/>
	</connectionStrings>
</configuration>